
html, body {
  overflow-x: hidden;
  background: linear-gradient(135deg, #0f0f0f 70%, #1a0000 100%);
  padding-top: 30px;
}

/*HOME*/
#botao_home {
  font-size: 18px;  
  margin-top: 20px; 
  width: 100%; 
  cursor: pointer;
  }


.icone {
  width: 40px;  /* Ajuste o tamanho da imagem */
  height: 40px; /* Ajuste o tamanho da imagem */
  margin-right: 15px; /* Espaço entre o ícone e o texto */
}

/*SERVIÇOS*/

#servicos {
  cursor: pointer;
}

#servicos h1 {
  text-align: center;
  color: aliceblue;
  margin-top: 80px;
}

.card-img-top {
  height: 215px;
  object-fit: cover;
  padding: 10px;
}
  
  .card {
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 13px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  }
  
  .card-title {
    color: #d60000;
  }
  
  .card-text {
    font-size: 14px;
  }

  /*SOBRE*/
.imagem_sobre {
  max-width: 100%;
  height: auto;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 25px;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
}

#sobre {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-sobre h1,
.conteudo-sobre p {
  color: aliceblue;
}

.conteudo-sobre h2 {
  color: #d60000;
  opacity: 75%;
}

.card-sobre i {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
  
.card-sobre span {
  color: white;
}

  /*AVALIAÇÕES*/

#avaliacoes {
  cursor: pointer;
}

#avaliacoes h1, h6 {
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
}

#avaliacoes p {
  color: black;
}


  /*DICAS*/

#dicas {
  cursor: pointer; 
}

#dicas h1 {
  color: aliceblue;
  text-align: center;
}

#dicas h6 {
  color: aliceblue;
  text-align: center;
}

.card-dicas {
  background-color: transparent !important;

}

.card-dicas .card-body .card-title-dicas,
.card-dicas .card-body .card-text-dicas {
  color: aliceblue;

}
 

  /*CONTATO*/

.imagem_contato {
  width: 100%;
  height: auto;
  border-radius: 25px;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
}

#contato {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-contato h1,p {
  color: aliceblue;
}

.conteudo-contato h5 {
  color: aliceblue;
  opacity: 35%;
}

.info_contato{
  color: aliceblue;
}


/*FOOTER*/
.div_footer p{
  color: aliceblue; 
  text-align: center; 
  opacity: 35%;
}

#wpp_flutuante {
  position:fixed;
  bottom:20px;
  right:30px;
}